body {
    background-color: black;
}
.flex-container {
    background: linear-gradient(135deg, bisque, black);
}

.portrait,
.col-md-4,
.col-lg-4 {
    margin: 3% 3% 3% 3%;
    justify-content: center;
}

.heading,
.my-4 {
    color: bisque;
    margin: 5%;
    text-align: right;
    font-size: 3rem;
}

.row {
    margin: 1%;
}
.about-text {
    color: bisque;
    margin: 3% 0;
}
