#msg {
    min-width: none;
    min-width: 43%;
}

#button {
    background-color: bisque;
    color: black;
    margin: 1%;
    border-color: black;
}

#button:hover {
    background-color: green;
    border-color: black;
    color: bisque;
    margin: 1%;
}
