.previous-work-container {
    display: inline flex;
}

.resume-head {
    color: bisque;
    margin: 2% 0% 2% 2%;
}

.res-link {
    text-decoration: none;
    color: bisque;
    font-size: 2.5rem;
}
