.project-container {
  display: inline;
}
.project-head {
  text-align: center;
  color: bisque;
  margin-left: 0%;
  font-size: 3rem;
}

.git {
  margin: 0% 3% 0% 3%;
  align-content: center;
  text-decoration: none;
  color: bisque;
  font-size: 4vw;
}
.project-cards {
  display: inline flex;
  flex-wrap: wrap;
  margin: 0%;
  background-color: black;
}

.project-element {
  text-decoration: none;
  color: #ffe4c4;
  font-size: 4vw;
  text-align: center;
  margin: 0% 3% 0% 3%;
}

.description {
  color: blueviolet;
  font-size: 2vw;
}
